* {
  font-family: "Poppins", sans-serif;
}

.text-active {
  color: #4475F2;
}

.text-abu{
    color: #4A4A4A;
}
.bg-abu{
    background-color: #E5EDFF;
}
.text-purple{
  color: #4475F2;
}

.bg-active {
  background-color: #4475F2;
}

.bg-active:hover {
  background-color: #3760c8;
}

.text-active:hover {
  color: #3760c8;
}
